/* ------------------- FONTS --------------------- */

@import url("https://fonts.googleapis.com/css2?family=Jost&family=Roboto&family=Rubik:wght@500&display=swap%27");

/* 
font-family: 'Jost', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: "Hiragino Sans", "Jost", sans-serif;
font-family: "Rubik", sans-serif;
*/

/* ------------------- GENERAL --------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green: #2d4535;
  --lightgreen: #b7d0bf;
  --orange: #ff602c;
  --white: #fff;
}

html {
  font-family: "Jost", sans-serif;
}

h1 {
  font-family: "Hiragino Sans", "Jost", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

/* ------------------- CLASSES --------------------- */

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 20px 0;
}

/* ------------------- HEADER GERNERAL --------------------- */

header {
  width: 375px;
  background-color: var(--lightgreen);
}

/* ------------------- MAIN GERNERAL --------------------- */

main {
  width: 375px;
  height: 100vh;
  background-color: var(--lightgreen);
}

/* ------------------- NAV --------------------- */

nav {
  position: fixed;
  bottom: 0;
  width: 375px;
  height: 70px;
  background-color: var(--green);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

nav a {
  width: 70px;
  text-align: center;
}

.linkAktiv {
  margin-top: -70px;
  background-color: var(--orange);
  border-radius: 35px;
  text-align: center;
  height: 70px;
}

.linkAktiv img {
  margin-top: 20px;
}
